<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.traderx.iovation_flutter">
    <!-- 1.0 Permissions -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 1.1 Permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- Required for NewRelic -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
